{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>Chat Virtual</h3>
  <div class="username">
    <label>Username</label>
    <input type="text" placeholder="Paulo" name="username" value="{{username}}"
    />
  </div>
  <div class="join_token">
    <button type="submit" name="join_token">Entrar</button>
    <input type="text" placeholder="AXDF" name="join_id" value="{{join_id}}" />
  
  </div>
  <div class="create_token">
    <button type="submit" name="create_token">Criar Chat</button>
    <input type="text" placeholder="AXDF" name="create_id" value="{{create_id}}" />
  </div>
  {% if error %}
  <ul class="error-list">
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
